@{
    ViewData["Title"] = "What's On Radio";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">What's On Radio</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/img/app_screen2.png" style="width:432px;border:none;height:849px;margin: auto;display: block;"/>
        </div>
        <div class="col-sm">
            </br>
            </br>
            </br>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-check-square"></i>See what is playing on your favourite Radio Station</li>
                <li><i class="fa-li fa fa-check-square"></i>Add the songs you like directly to your Spotify Playlist</li>
            </ul>

            <img src="~/img/app_store2.png" style="width:112px;border:none;height:35pt;margin: auto;display: block;"/>

        </div>
    </div>
</div>



